* {
  font-family: Quicksand, sans-serif;
}
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;

  --primary: #4d2f14;
  --secondary: #5f1f5c;
}
body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
::selection {
  color: inherit;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
